@model ChatApp.Web.Models.ViewModels.LoginViewModel

@using (Html.BeginForm("Login", "Account", FormMethod.Post, new { id = "login-form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(false)

    <div class="tr">
        <span class="td">
            @Html.LabelFor(a => a.Email, new { @class = "editor-label" })
        </span>
        <span class="td">
            @Html.EditorFor(a => a.Email)
        </span>

    </div>
    <div class="tr">
        <span class="td">
            @Html.LabelFor(a => a.Password, new { @class = "editor-label" })
        </span>
        <span class="td">
            @Html.PasswordFor(a => a.Password)
        </span>
    </div>
    <div class="tr">
        <span class="td">
            @Html.LabelFor(a => a.RememberMe, new { @class = "editor-label checkbox" })
        </span>
        <span class="td">
            @Html.CheckBoxFor(a => a.RememberMe)
        </span>
    </div>
    <div class="tr">
        <span class="td">
            <input type="button" class="button" value="Log in" onclick="_postFormData('login-form', '@Url.Action("Login","Account")');" />
        </span>
        <span class="td">
            <input type="reset" class="button" value="Reset" />
        </span>
    </div>
}