@model ChatApp.Web.Models.ViewModels.LoginViewModel

@using (Html.BeginForm("Login", "Account", FormMethod.Post, new { id = "login-form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(false)
    <p>
        @Html.LabelFor(a => a.Email, new { @class = "editor-label" })
        @Html.EditorFor(a => a.Email)
    </p>
    <p>
        @Html.LabelFor(a => a.Password, new { @class = "editor-label" })
        @Html.PasswordFor(a => a.Password)
    </p>
    <p>
        @Html.LabelFor(a => a.RememberMe, new { @class = "editor-label checkbox" })
        @Html.CheckBoxFor(a => a.RememberMe)
    </p>
    <input type="button" value="Log in" onclick="_postFormData('login-form', '@Url.Action("Login","Account")');" />
}