@model ChatApp.Web.Models.ViewModels.CreateAccountViewModel

@using (Html.BeginForm("register", "account", FormMethod.Post, new { id = "register-form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <p>
        @Html.LabelFor(a => a.Email, new { @class = "editor-label" })
        @Html.EditorFor(a => a.Email)
    </p>
    <p>
        @Html.LabelFor(a => a.Password, new { @class = "editor-label" })
        @Html.PasswordFor(a => a.Password)
    </p>
    <p>
        @Html.LabelFor(a => a.ConfirmPassword, new { @class = "editor-label" })
        @Html.PasswordFor(a => a.ConfirmPassword)
    </p>
    <p>
        @Html.LabelFor(a => a.DisplayName, new { @class = "editor-label" })
        @Html.EditorFor(a => a.DisplayName)
    </p>
    <input type="button" value="Register" onclick="_postFormData('register-form', '@Url.Action("register", "Account")');" />
}