<div id="NavMenu">
    <ul id="menu">
        <li data-url="@Url.Action("Index","Home")">Home</li>
        <li data-url="@Url.Action("CurrentLocation","Location")" data-postLoadAction="initialize">Where am I</li>
        <li data-url="@Url.Action("Index","Home")">Media Gallery</li>
        <li data-url="@Url.Action("Index","Home")">Other Resources</li>
		<li data-url="@Url.Action("Register","Account")">Register</li>
		<li data-url="@Url.Action("Login","Account")">Login</li>
		<li onclick="overlay();">overlay</li>
		<li data-url="@Url.Action("Index", "Media")" data-postloadaction="initializePlayer">Media</li>
        <li data-url="@Url.Action("PhotoViewer","Media")">PhotoViewer</li>
    </ul>
</div>