@using ChatApp.Web.Models
@model List<BaoziCollection>

@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/Shared/_baoziLayout.cshtml";
}

<div class="baoziContainer">
	<div class="baoziLeft">
		<ul>
			@foreach (BaoziCollection b in Model)
			{
				<li data-baoziID="@b.Id">@b.OrderDate.ToShortDateString()</li>
			}
		</ul>
		<div class="baoziMenu">
			<button id="btn_addNewBaozi">Add</button>
		</div>
	</div>
	<div class="baoziRight">
		<table>
			<thead>
				<tr>
					<th>Buyer</th>
					<th>Quantity</th>
				</tr>
			</thead>
			<tbody>
				@if (Model.Count > 0)
				{
					foreach (BaoziEntry be in Model[0])
					{
						<tr>
							<td>@be.Buyer</td>
							<td>@be.Quantity</td>
						</tr>
					}
				}
			</tbody>
		</table>

	</div>

	<div id="div_addBaozi" class="hidden">
		<form id="frm_addBaozi" method="post">
			<table>
				<tr class="baoziRow">
					<td class="buyer_cell">
						@Html.TextBox("buyer")
					</td>
					<td class="quantity_cell">
						@Html.TextBox("quantity")
					</td>
					<td class="rowCommands zeroOpacity">
						<div class="btn_add">
							<img src="~/Content/Images/add.png" />
						</div>
						<div class="btn_remove">
							<img src="~/Content/Images/remove.png" />
						</div>
					</td>
				</tr>
			</table>
		</form>
	</div>
</div>
